@model EntityFrameworkDemo.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employeename" class="control-label"></label>
                <input asp-for="Employeename" class="form-control" />
                <span asp-validation-for="Employeename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Createdby" class="control-label"></label>
                <input asp-for="Createdby" class="form-control" />
                <span asp-validation-for="Createdby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedon" class="control-label"></label>
                <input asp-for="Modifiedon" class="form-control" />
                <span asp-validation-for="Modifiedon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifiedby" class="control-label"></label>
                <input asp-for="Modifiedby" class="form-control" />
                <span asp-validation-for="Modifiedby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
